@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

body {
  text-align: center;
  font-family: 'Open Sans';
}
body > * {
  padding-bottom: 1em;
}

h1 {
  padding: 1em;
  color: #004e7b;
  font-family: 'Open Sans';
  font-weight: 800;
}
canvas {
  /* display: none; */
}
#uploadedImage {
  display: inline-block;
  margin: auto;
}
#templateImage {
  border: 2px solid #004e7b;
}
#play {
  display: none;
}
#person {
  display: none;
}
button {
  margin: 1em;
}
